@import "tailwindcss";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@font-face {
    font-family: morabaa;
    src: url(./font/Morabba-Medium.woff);
}
body{
    font-family: 'morabaa';
}

::selection{
    background-color: rgb(193, 193, 193);
}
.max-my-w{
    max-width: 80vw;
}
.blog-card .blog-card-img{
    transition: all ease;
    transition-duration: 0.3s;
}
.blog-card:hover .blog-card-img{
    transform: scale(1.1);
    opacity: 70%;
}
.blog-card:hover .blog-card-button{
   display: block;
}
.blog-card-button{
    display:  none  ;
    transition: all ease;
    transition-duration: 0.3s;
}
